<% if @received_evaluations.any? %>
<div class="container text-center">
  <h1>Invitations you've received</h1>

  <div class="row">
    <% @received_evaluations.each do |evaluation| %>

    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <div class="card-body special-card-body">
          <div class="card-picture" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url('<%= Restaurant.all.first.photo %>')">
            <div class="counter">


              <h3 class="text-white"><%= evaluation.restaurant.name %></h3>

            </div>
          </div>
          <ul class="list-inline card-likes">
            <li>
              <img src="http://placehold.it/30x30" alt="" class="avatar-large">
            </li>
            <li>
              <h6><%= evaluation.selector.first_name + " " + evaluation.selector.last_name%></h6>
            </li>
          </ul>
          <div class="text-center">
            <div class="row">
              <div class="col-xs-6">
                <%= link_to "Accept", accept_evaluation_path(evaluation), method: :post, class: 'btn btn-primary btn-block' %>

              </div>
              <div class="col-xs-6">
                <%= link_to "Decline", decline_evaluation_path(evaluation), method: :post, class: 'btn btn-danger btn-block' %>

              </div>
            </div>
          </div>
        </div>
        <!--   <a class="card-link" href="#" ></a> -->
      </div>
    </div>
    <% end %>
  </div>
</div>
<% else %>
<div class="no-invitations">
  <div class="no-invitations-message text-center">
    <p>Hey buddie, you have no pending invitations.</p>
  </div>
</div>
<% end %>

   <% if @sent_evaluations.any? %>
    <div class="container text-center">
      <h1>Invitations you've sent</h1>
    <div class="row">
        <% @sent_evaluations.each do |evaluation| %>

        <div class="col-xs-12 col-sm-4">
          <div class="card">
            <div class="card-body special-card-body">
              <div class="card-picture" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url('<%= Restaurant.all.first.photo %>')">
                <div class="counter">


                  <h3 class="text-white"><%= evaluation.restaurant.name %></h3>

                </div>
              </div>
              <ul class="list-inline card-likes">
                <li>
                  <img src="http://placehold.it/30x30" alt="" class="avatar-large">
                </li>
                <li>
                  <h6><%= evaluation.selectee.first_name + " " + evaluation.selectee.last_name%></h6>
                </li>
              </ul>

            </div>
            <!--   <a class="card-link" href="#" ></a> -->
          </div>
        </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div class="space-footer-no-content"></div>



