
<div class="container">
  <div class="row">
    <% @evaluations.each do |evaluation| %>

<div class="col-xs-12 col-sm-4">
  <div class="card">
    <div class="card-body">
      <div class="card-picture" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url('<%= Restaurant.all.first.photo %>')">
      <div class="counter">


          <h2><%= evaluation.restaurant.name %></h2>

        </div>
      </div>
        <ul class="list-inline card-likes">
          <li>
            <img src="http://placehold.it/30x30" alt="" class="avatar-large">
          </li>
          <li>
            <h6><%= evaluation.selector.first_name + " " + evaluation.selector.last_name%></h6>
            <p><%= evaluation.selector.hash_tag_pref %></p>
          </li>
        </ul>
      <div class="card-evaluation row text-center">
        <%= link_to "accept", accept_evaluation_path(evaluation), method: :post, class: 'btn btn-primary accept' %>
        <%= link_to "decline", decline_evaluation_path(evaluation), method: :post, class: 'btn btn-danger decline' %>
      </div>
    </div>
    <!--   <a class="card-link" href="#" ></a> -->
  </div>
</div>
 <% end %>




