<div class="navbar-wagon">
 <%= link_to "/" , class: "navbar-wagon-brand" do %>
    <%= image_tag "photo1.jpg" %>
    <% end %>

 <%= link_to "/" , class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png" %>
    <% end %>

  <!-- Search form -->
  <form action="" class="navbar-wagon-search form-inline">
    <input type="text" class="navbar-wagon-search-input location-search" placeholder="Anywhere">

    <form action="" class="navbar-wagon-search-input date-search">
      <input type="text" name="search-daterange" class="navbar-wagon-search-input location-search" placeholder="Anytime">
    <button type="submit" class="btn btn-search"><i class="fa fa-search"></i> </button>
    </form>

  </form>

  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <!-- Text link -->
    <a href="" class="navbar-wagon-item navbar-wagon-link">Find Board</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Rent Out</a>




    <!-- Profile picture and dropdown -->
    <% if user_signed_in? %>
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <%= image_tag(avatar_image_path(current_user), class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown") %>


        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">

          <li><%= link_to("Dashboard", user_path(current_user)) %></li>
          <li><%= link_to("Edit your profile", edit_user_registration_path(current_user)) %></li>
          <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
        </ul>
      </div>
    </div>
    <% end %>

    <!-- Button (call-to-action) -->
    <% if !user_signed_in? %>
    <%= link_to('Login', new_user_session_path, class: "navbar-wagon-item navbar-wagon-signin-button btn") %>
    <%= link_to('Sign Up', new_user_registration_path, class: "navbar-wagon-item navbar-wagon-button btn") %>
    <% end %>
  </div>



  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Login</a></li>
        <li><a href="#">Sign Up</a></li>
        <li><a href="#">Find Board</a></li>
        <li><a href="#">Rent Out</a></li>
      </ul>
    </div>
  </div>
</div>

<% content_for (:js) do %>
<script type="text/javascript">
  $(function() {
    $('input[name="search-daterange"]').daterangepicker();
});
  </script>
  <% end %>
