
    <div class="col-md-12 text-center search-form">
    <form action="/restaurants" method="get" class="form-inline" name="Go!">


          <div class="input-group serach-labels">
          <input type="text" class="form-control margin-xs" id="user-location" name="user_location" value="<%= @user_location %>" placeholder="Address" autocomplete="off" required >
          <div class="input-group-addon pointer">
                  <span onclick="getLocation();" class="glyphicon glyphicon-map-marker"></span>
              </div>
          </div>

          <div class="input-group date form_datetime serach-labels" id='datepicker'>
              <input type="text" class="form-control" value="<%= @date %>" name="date" placeholder="27/03/12" autocomplete="off" required>
              <div class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
              </div>
          </div>
          <div class="input-group date form_datetime serach-labels" id="timepicker">
          <input type="text" class="form-control margin-xs" name="start_time"  value="<%= @start_time %>" placeholder="20:30" autocomplete="off" required>
          <div class="input-group-addon">
                  <span class="glyphicon glyphicon-time"></span>
              </div>
          </div>

          <input  type="hidden" name='user_location_address' id='user-location-address' value="<%= @user_location_address %>"/>

          <!-- <select name="start_time" class="form-control" id="time-picker" onmousedown="if(this.options.length>5){this.size=5;}" onchange="this.blur()"  onblur="this.size=0;" >
            <option type="text" value="">Pick Time</option>
            <% Restaurant::HOURS.each do |hour| %>
              <option type="text" value="<%=hour%>" <% if @start_time == hour %>selected="selected"<% end %>><%=hour%></option>
            <% end %>
          </select> -->
          <select name="food_type" class="form-control serach-labels">
            <option type="text" value="">Food Type</option>
            <% Restaurant::FOOD_TYPES.each do |foodtype| %>
              <option type="text" value="<%=foodtype%>" <% if @food_type == foodtype %>selected="selected"<% end %>><%=foodtype.capitalize%></option>
            <% end %>
          </select>
          <br>
          <br>
          <input  type="submit" value="Find place!" class="btn btn-go">
    </form>
  </div>

<%= content_for(:after_js) do %>
              <script type="text/javascript">
                  $(function () {
                        $('#datepicker').datetimepicker({
                          format: 'DD/MM/YYYY',
                          });
                        $('#timepicker').datetimepicker({
                          format: 'LT',

                          });
                      });

                  $( function() {
                    var handle = $( "#ex23" );
                    $( "#slider" ).slider({
                      create: function() {
                                        handle.text( $( this ).slider( "value" ) );
                      },
                      slide: function( event, ui ) {
                        handle.text( ui.value );
                      }
                    });
                  } );
                  var x = document.getElementById("user-location");

                  function getLocation() {
                      if (navigator.geolocation) {
                          navigator.geolocation.getCurrentPosition(showPosition, showError);
                      } else {
                          x.innerHTML = "Geolocation is not supported by this browser.";
                      }
                  }

                  function showPosition(position) {
                      document.getElementById("user-location").value = "My Location";

                      var lat = position.coords.latitude;
                      var lng = position.coords.longitude;

                      $.ajax({
                            type: "GET",
                            url: "https://maps.googleapis.com/maps/api/geocode/json?latlng=" + lat + "," + lng,
                            success: function(data) {
                              // get the lat and lng from the json data
                            // var message = jqXHR.responseText.error_message;
                            // console.log("DATA; ", data);
                            // console.log("DATA results; ", data.results);
                            // console.log("DATA results example; ", data.results[0]);
                            // console.log("DATA results example addr; ", data.results[0].formatted_address);

                            var addr = data.results[0].formatted_address
                            document.getElementById("user-location-address").value = addr;
                            // $("#addr").text(addr);

                            if (data.results.length == 0) {

                              showError("no array");

                            } else {
                              $("#error-message").html("").parent().removeClass("has-error");

                            }
                            },
                            error: function(jqXHR) {
                              console.error(jqXHR.responseText);

                              showError(jqXHR.responseJSON.error_message);
                            }
                          });
                      }
                  function showError(error) {
                      switch(error.code) {
                          case error.PERMISSION_DENIED:
                              x.innerHTML = "User denied the request for Geolocation."
                              break;
                          case error.POSITION_UNAVAILABLE:
                              x.innerHTML = "Location information is unavailable."
                              break;
                          case error.TIMEOUT:
                              x.innerHTML = "The request to get user location timed out."
                              break;
                          case error.UNKNOWN_ERROR:
                              x.innerHTML = "An unknown error occurred."
                              break;
                          default:
                            console.log(error)

                      }
                  }
                  // getLocation();

                      </script>
              <% end %>


<!-- <input class='hidden' name='datehide' id='datehide' value='before'/> -->
