
    <div class="col-md-12 text-center search-form">
    <form action="/restaurants" method="get" class="form-inline" name="Go!">


          <div class="input-group search-labels">
          <input type="text" class="form-control margin-xs" id="user-location" name="user_location" value="<%= params[:user_location] %>" placeholder="Address" autocomplete="off" required >
          <div class="input-group-addon pointer">
                  <span onclick="getLocation();" class="glyphicon glyphicon-map-marker"></span>
              </div>
          </div>

          <div class="input-group date form_datetime search-labels" id='datepicker'>
              <input type="text" class="form-control" value="<%= @date %>" name="date" placeholder="27/03/12" autocomplete="off" required>
              <div class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
              </div>
          </div>
          <div class="input-group date form_datetime search-labels" id="timepicker">
          <input type="text" class="form-control margin-xs" name="start_time"  value="<%= @start_time %>" placeholder="20:30" autocomplete="off" required>
          <div class="input-group-addon">
                  <span class="glyphicon glyphicon-time"></span>
              </div>
          </div>

          <input  type="hidden" name='user_location_address' id='user-location-address' value="<%= @user_location_address %>"/>


          <select name="food_type" class="input-group form-control search-labels">
            <option type="text" value="">Food Type</option>
            <% Restaurant::FOOD_TYPES.each do |foodtype| %>
              <option type="text" value="<%=foodtype%>" <% if @food_type == foodtype %>selected="selected"<% end %>><%=foodtype.capitalize%></option>
            <% end %>
          </select>

          <br>
          <div class="search-labels-2">
            <label for="hash-input">Hash Your Preferences</label>
            <input data-role="tagsinput" class="input-group margin-xs input" id="hash-input" type="text" name="hash_tag_pref" placeholder="#classicalmusic, #mozart"/>
          </div>
          <br>
          <div class="search-labels-2">
            <label for="hash-input">Range from your location</label>
          <div id="slider"></div>
            <p>
              <input type="hidden" class="ui-slider-handle" type="text" id="range-value" name="range" value="<%= @range %>">

              <label id="range_lable"></label>

            </p>
            <!-- <input class="ui-slider-handle" id="ex23" type="text" name="range" value="<%= @range %>" /> -->

          <!-- <input type="range" name="geolocation" id="points" value="50" min="18" max="120" data-popup-enabled="true">

 -->
          </div>
          <br>
          <input id="button-find-your-buddy" type="submit" value="Find your Buddy!" class="btn btn-go">
    </form>
  </div>

<%= content_for(:after_js) do %>
              <script type="text/javascript">
                  $(document).ready(function () {
                        $('#datepicker').datetimepicker({
                          format: 'DD/MM/YYYY',
                          });
                        $('#timepicker').datetimepicker({
                          format: 'LT',
                         });
                      });
                  $(function () {
                    $('#hash-input').val()
                  });
                  $( function() {
                    var handle = $( "#range_lable" );
                      default_value = <%= @range %>;
                      current_val_element = $("#range_lable");
                      current_val_element.text(default_value);

                      $( "#slider" ).slider({
                        value: default_value,
                        min: 0,
                        max: 15,
                        step: 0.1,

                        slide: function( event, ui ) {
                          value = ui.value;
                          current_val_element.text(value);
                          $('#range-value').val(value)
                        }
                      });
                      });

                  var x = document.getElementById("user-location");

                  function getLocation() {
                      if (navigator.geolocation) {
                          navigator.geolocation.getCurrentPosition(showPosition, showError);
                      } else {
                          x.innerHTML = "Geolocation is not supported by this browser.";
                      }
                  }
                  function showPosition(position) {
                      document.getElementById("user-location").value = "My Location";

                      var lat = position.coords.latitude;
                      var lng = position.coords.longitude;

                      $.ajax({
                            type: "GET",
                            url: "https://maps.googleapis.com/maps/api/geocode/json?latlng=" + lat + "," + lng,
                            success: function(data) {
                            var addr = data.results[0].formatted_address
                            document.getElementById("user-location-address").value = addr;
                            // $("#addr").text(addr);

                            if (data.results.length == 0) {

                              showError("no array");

                            } else {
                              $("#error-message").html("").parent().removeClass("has-error");

                            }
                            },
                            error: function(jqXHR) {
                              console.error(jqXHR.responseText);

                              showError(jqXHR.responseJSON.error_message);
                            }
                          });
                      }
                  function showError(error) {
                      switch(error.code) {
                          case error.PERMISSION_DENIED:
                              x.innerHTML = "User denied the request for Geolocation."
                              break;
                          case error.POSITION_UNAVAILABLE:
                              x.innerHTML = "Location information is unavailable."
                              break;
                          case error.TIMEOUT:
                              x.innerHTML = "The request to get user location timed out."
                              break;
                          case error.UNKNOWN_ERROR:
                              x.innerHTML = "An unknown error occurred."
                              break;
                          default:
                            console.log(error)

                      }
                  }
                  // getLocation();

                      </script>
              <% end %>
<%= content_for(:js_file) do %>
<%= javascript_include_tag 'google_maps_autocomplete' %>
<% end %>

<!-- <input class='hidden' name='datehide' id='datehide' value='before'/> -->

