

<%# link_to "confirm", evaluation_reservations_path(@evaluation),method: :post, class: 'btn btn-primary' %>
<!-- <div>
<h6><%= @restaurant.name %></h6>
<h6><%= @restaurant.address %></h6>
</div>
<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <h6><%= @restaurant.name %></h6>
          <h6><%= @restaurant.address %></h6>
        </div>
      </div>
    </div>
  </div> -->
<div class="restaurant-card text-center">

  <h2>Congratulations!</h2>
  <div>
  <h3><%= current_user.username %></h3>
  </div>

  <p>Your're going to the restaurant:</p>
  <h4 class="restaurant-name"> <%= @restaurant.name %></h4>
  <p>on <%= @evaluation.match_list.date.strftime("%d %b, %Y") %> at <%= @evaluation.match_list.start_time.strftime("%H:%M") %></p>
  <p>with:</p>
  <h3><%= @evaluation.selectee == current_user ? @evaluation.selector.username : @evaluation.selectee.username %></h3>
  <hr>
  <p><strong>Restaurant address:</strong></p>
  <p><%=  @restaurant.address %></p>

          <div class="div-spacer"></div>
    <%= simple_form_for([@evaluation, @reservation]) do |f| %>
    <%= f.input :restaurant_id , as: :hidden %>
    <%= f.input :evaluation_id , as: :hidden %>
    <%= f.button :submit, 'Confirm', mehotd: :post, class: 'btn btn-primary choose-btn' %>
    <% end %>
    </div>
</div>

<div class="div-spacer"></div>

<div class="row text-center">
    <%= link_to "Back", restaurants_path, class: 'btn btn-default btn-back' %>
</div>

<div class="div-spacer"></div>
