  <div class="col-xs-12 col-sm-4">

    <div class="card">
      <div class="card-body">
        <div class="card-picture" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url('<%= restaurant.photo %>')">
          <img src="http://placehold.it/30x30" alt="" class="card-avatar avatar">

          <!--  <div class="card-hover">
          <h4><%= restaurant.name %></h4>
             <p></p>
          </div> -->
        </div>
        <div class="card-likes">
          <ul class="list-inline">
            <li><i class="fa fa-male"></i> 140</li>
            <li><i class="fa fa-female"></i> 567</li>
          </ul>
        </div>
      </div>

    <!--   <a class="card-link" href="#" ></a> -->
  </div>
</div>



          <div class="card">

            <div class="card-body">
              <div class="card-picture" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url('<%= restaurant.photo %>')">
                <img src="http://placehold.it/30x30" alt="" class="card-avatar avatar">

               <!--  <div class="card-hover">
                  <h4><%= restaurant.name %></h4>
                  <p></p>
                </div> -->
              </div>
              <div class="card-likes">
                <ul class="list-inline">
                  <li><i class="fa fa-male"></i> 140</li>
                  <li><i class="fa fa-female"></i> 567</li>
                </ul>
              </div>
            </div>
            <div class="card-footer">


          <%= link_to restaurant.name, restaurant_path(restaurant) %>
          </div>



          <!--   <a class="card-link" href="#" ></a> -->
        </div>
  </div>

