<li>
  <div class="user-card">
    <div class="avatar-card">
      <div class="user-avatar padded-right">
        <%= cl_image_tag match_list.user.photo, {class: "avatar-large", alt: "user"}%>
      </div>

      <div class="user-and-date">
        <p class="user-name text-left">
          <%= match_list.user.email  %>
        </p>
        <p class="date-info text-left">
          <%= match_list.date.strftime("%d %b, %Y") %> <%= match_list.start_time.strftime("%H:%M") %>
        </p>
      </div>
    </div>


    <% if  !user_match_list.nil? && user_match_list.any? %>

      <div class="invite-button">

          <div class="invite center-inline  ">
            <%= form_tag match_list_evaluations_path(match_list) do %>
              <%= hidden_field_tag 'selectee_id', match_list.user.id %>
              <%= submit_tag 'invite', class: 'fake-btn' %>
            <% end %>
          </div>

      </div>
    <% end %>

  </div>
</li>

<hr>


