<div class="container">
    <%= render 'shared/search_form_2' %>
</div>
<div class="container">
  <div id="map-label-container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div id="map"></div>
          </div>
            <div class="col-xs-12 col-md-6">
            <h3>Food Type: <strong><%= @food_type.capitalize %></strong></h3>
              <p>Your Location: <strong><%= @user_location_requested %></strong></p>
            </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="cards-container">
    <%= render @restaurants %>
    <!-- <div class="badge-container">
          <%#MatchList.all.where(restaurant_id: params[:id]).each do |i| %>

          <%# puts i.count %>
          <i class="fa fa-envelope-o"></i>

          <%# end %>
          <div class="badge badge-blue"> </div>
        </div> -->
    <!-- build the html for listing cards and titles -->
  </div>
  </div>
</div>

 <% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(5);
        }
      });
    });
  <% end %>
<% end %>
