
<h2> <%= @restaurant.name %>
</h2>

<ul>
<li>
  <%= @restaurant.food_type %>
</li>
<li>
 <%=  @restaurant.address %>
</li>
<li>

</li>
</ul>



<ul> <% @restaurant.match_lists.each do |i| %>

  <li>
   <%=  i.user.username %>
  </li>
  <% end %>
</ul>

<%= simple_form_for([@restaurant,@match_list]) do |f| %>
<%= f.button :submit, 'Save' %>
<% end %>
