<div class="restaurant-card text-center">
  <p><%= @restaurant.food_type.titleize %></p>
  <h2> <%= @restaurant.name %></h2>
  <%=  @restaurant.address %>
        <div class="restaurant center">
          <% if policy(MatchList).create? %>
          <%= render 'match_lists/form', restaurant: @restaurant, match_list: @match_list %>
          <% end  %>
        </div>

    <div class="match center">
      <ul id="user-list">
        <% @restaurant.match_lists.each do |match_list| %>
          <% if Time.now.to_date == match_list.date %>
            <% unless match_list.user == current_user %>
              <%= render "restaurants/user", match_list: match_list, user_match_list: @user_match_list %>
            <% end %>
          <% end %>

          <div class="div-spacer"></div>

          <div class="remove center center-inline">
            <% if policy(match_list).destroy?%>
              <%= link_to "Remove me from this list ", restaurant_match_list_path(match_list.restaurant,match_list), method: :delete, data: {confirm: "Are you sure?" }, class: 'btn btn-danger' %>
            <% end %>
          </div>
        <% end %>

      </ul>
    </div>
</div>



<!-- (date: @date, start_time: @start_time,  food_type: @restaurant.food_type), class: 'card-link'
 --><div class="back">

    <%= link_to "back", restaurants_path %>
</div>
