
<h2> <%= @restaurant.name %>
</h2>

<ul>
<li>
  <%= @restaurant.food_type %>
</li>
<li>
 <%=  @restaurant.address %>
</li>
<li>


<div class="restaurant center">
<%= simple_form_for([@restaurant,@match_list]) do |f| %>
<%= f.input :date , input_html: { value: @date} %>
<%= f.input :start_time , input_html: { value: @start_time} %>
<%= f.button :submit, 'Choose This Restaurant', class: 'btn btn-primary' %>
<% end %>
</div>


</li>
</ul>
        <div class="match center">

            <ul> <% @restaurant.match_lists.each do |i| %>

                  <% if Time.now.to_date == i.date %>
                    <li>


                     <%=  i.user.hash_tag_pref %>  <%= i.date %> <%= i.start_time %>
                                         <%= image_tag "mary.png", {class: "avatar-large", alt: "user"}%>


                  <% if  @user_match_list.any? %>

                  <div class="invite center   ">
                     <%= link_to "Choose and Invite me", new_match_list_evaluation_path(i.restaurant), class: 'btn btn-primary' %>
                  </div>
                    <% end %>
                   <div class="remove center">

                    <%= link_to "Remove me from this list ", restaurant_match_list_path(i.restaurant,i),
                                method: :delete,
                                 data: {confirm: "Are you sure?" }, class: 'btn btn-danger' %>
                    <% end %>
                  </div>
                     <% end %>
              </li>
               <%# end  %>
            </ul>
</div>

<script>

$( document ).ready(function() {

         $("input .btn").on("click",function (e) {
                    e.preventDefault();
console.log("clicked");
    $(".invite").removeClass('hidden');

});

});

</script>


